/* BASIC RULES */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("./imgs/background3.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #030b11;
}



#pageTitle{
    text-align: center;    
}